* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    /* Prevent the entire page from scrolling */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}

.directory {
    flex: 0 0 10%;
    /* Takes up 20% of the width */
    background-color: #f0f0f0;
    padding: 0;
    /* Remove padding to fit the iframe */
    overflow-y: auto;
    /* Allow scrolling inside the left half */
}

.display {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    flex: 0 0 90%;
    /* Takes up 80% of the width */
    background-color: #e0e0e0;
    padding: 0;
    overflow-y: auto;
    /* Allow scrolling inside the right half */
}

.iframe-content {
    align-self: center;
    width: 100%;
    height: 99%;
    border: none;
}

.directory li {
    list-style-type: none;
    padding-top: 3px;
}

.directory li:before {
    content: "|- ";
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;

}