@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-josefin-sans: var(--font-josefin-sans);
  --font-space-grotesk: var(--font-space-grotesk);
}
@layer base {
  :root {
    --font-space-grotesk: '';
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family:  Arial, Helvetica, sans-serif;
}
