body {
    display: flex;
    height: 99vh;
    width: 99vw;
    flex-direction: row;
    background-color: #dce0d9;
}
ul{
    font-size: 14px;
}
li span {
    font-style:oblique;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill_div{
    display: flex;
    flex-direction: row;
}
.left{
    border-radius: 10px;
    background-color: #ead7c3;

    align-self: flex-start;
    margin-right: 10px;
}
.right{
    height: 97vh;
    border-radius: 10px;
    background-color: #fbf6ef;
    margin-bottom: 30%;
    margin-left: 10px;
}
.middle{
    height: auto;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.middle > *{
    margin: 5px;
}
.icon{
    height: auto;
    width: 14px;
}