* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 98vh; /* Full viewport height */
}

.description {
    padding: 20px; /* Add padding for spacing */
    background-color: #f9f9f9; /* Optional: background color for description */
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

.iframe-container {
    flex: 1; /* Takes up the remaining space */
}

iframe {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border-radius: 10px;
}