a{
    color:aqua; 
}
.title{
    font-size:7rem;
    color: white;
    text-shadow:0 0 5px black;
    background-color: black;
}
header{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
h2{
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
    padding: 10;
    margin-top: 0;
    height: auto;
    width: auto;
}
.header1
{
    margin-top:  0;
    margin-bottom: 0;
    color: white;
    background-color: rgb(145, 145, 145);
    text-align: center;
}
body{
    margin: 0;
    background-image: url("old_img/mainc_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.body{
    height: 98vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.layer1,.layer2,.layer3{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.layer2{
    transform: translateZ(-40px) scale(8);
}

.intro{
    font-size: 20px;
    padding: 2rem;
    background-color: #333;
    color: white;
    padding: 10;
    margin-top: 0;
    margin-bottom: 10;
    height: auto;
    width: auto;
}
.a{
    position: relative;
}
.web_title
{
    margin-top:  -5%;
    position: relative;
    cursor: pointer;
    width: auto;
    font-size: 20px;
    color: white;
    top: 10%;
}
.links{
    position: relative;
    border-color: white;
    border-style: solid;
    background-color: rgb(53, 0, 53);
    height: 100px;
    bottom: 0px;
    width: auto;
}
.my_photo
{
    position: relative;
    top: 15%;
    left: 5%;
    cursor: pointer;
    width: 10%;
}
.resume{
    position: absolute;
    top: 60%;
    left: 85%;
    cursor: pointer;
    width: 10%;
}
.disc
{
    position: absolute;
    bottom: 15%;
    left: 20%;
    font-size: .75rem;
}
.linked_in{
    position: absolute;
    top: 35%;
    right: 5%;
    cursor: pointer;
    width: 3.3%;
}